@model YazGelProje.Controllers.TeacherController.studentModel

@{
    ViewBag.Title = "BasvuruDosyalari";
    Layout = "~/Views/Shared/TeacherSideBar.cshtml";
}


<script>
    const { options } = require("dropzone");


    function StajBasvuruBelgesiSil(id) {

        if (confirm('Dosya Silinsin mi?')) {
            var model = {
                "id": id
            };
            $.ajax({
                url: '/admin/StajBasvuruBelgesiSil',
                type: "POST",
                data: model,
                success: function (result) {
                    location.reload();
                }
            });

        }
    }

    function InternStartFileTake() {
        var userID = $('#StudentId').val();

        var model = {
            "id": userID
        };

        $.ajax({
            url: '/Teacher/InternFormTake',
            type: "POST",
            data: model,
            success: function (result) {
                //  alert(result);

                var tableResult = "  <table class='table table-striped'><thead><tr><th scope='col'>Yüklenilen Belge Adı</th><th scope='col'>Belgeyi Görüntüle</th><th scope='col'>Tarih</th> </tr></thead><tbody>";

                for (i = 0; i < result.length; ++i) {

                    tableResult += "<tr>";
                    tableResult += "<td style = ''><a href='/InternFiles/Staj/" + result[i].FileName + "' FileShow>" + result[i].FileName + "</a></td>";
                    tableResult += "<td style = ''><a href='/InternFiles/Staj/" + result[i].FileName + "' Download><button type='button' class='btn btn-success'>İndir</button></a></td>";
                    tableResult += "<td style = ''>" + ToJavaScriptDate(result[i].FileDate) + "</td>";

                    tableResult += "</tr>";
                }


                tableResult += "</tbody></table>";
                $("#BelgeGetir").html(tableResult);
            }
        });
    }

    function ToJavaScriptDate(jsonDate) {
        var fullDate = new Date(parseInt(jsonDate.substr(6)));
        var twoDigitMonth = (fullDate.getMonth() + 1) + ""; if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;

        var twoDigitDate = fullDate.getDate() + ""; if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
        var currentDate = twoDigitDate + "/" + twoDigitMonth + "/" + fullDate.getFullYear();

        return currentDate;
    }

</script>

<script>
    $(document).ready(function () {
        $('#StudentId').change(function () {
            $('#c').empty();
            $.ajax({
                type: 'POST',
                url: '/Teacher/InternStartCase',
                dataType: 'json',
                data: { id: $('#StudentId').val() },
                success: function (basvuru) {
                    $.each(basvuru, function (i, basvuruadi) {
                        $('#InternCaseId').append('<label value="' + basvuruadi.Value + '">' + "Öğrenci Başvuru Durumu :" + " " + basvuruadi.Text + '</label>');
                    });

                },
                error: function (ex) {
                    alert('Veri bulunamadı.');
                }
            });
            return false;
        })
    });

</script>

<form action="/Teacher/InternForms" method="post">

    <div class="col-lg-12">
        <div class="card card-default card-md mb-12">
            <div class="card-header  py-20">
                <h2 style="text-align:center;font-style:italic;font-weight:bold">Staj Başvuru Dosyalari</h2>
            </div>
            <div class="card-body">
                <div class="select-size">
                    <div class="atbd-nav-controller select-size__control">
                        <h3 style="text-align: center; font-weight: bold; font-style: italic; color: #D81B60 ">@ViewBag.Onay</h3>

                        <div class="nav-controller-content select-size-content tab-content">
                            <div class="tab-pane fade show active" id="large" role="tabpanel" aria-labelledby="size-large">
                                <div class="select-size-content__single">
                                    <h3>ÖĞRENCİ BİLGİSİ SEÇİNİZ</h3>
                                    <select class="form-control  form-control-lg" onchange="InternStartFileTake()" name="StudentId" id="StudentId">
                                        <option>Öğrenci Ad Soyad</option>
                                        @foreach (var item in Model.students)
                                        {
                                            <option style="font-size:25px" value="@item.StudentId">@item.Name @item.Surname</option>
                                        }
                                    </select>
                                    <h2 style="color: red; text-align: center; font-weight: bold; font-style: italic">@ViewBag.Uyari</h2>

                                    <div id="BelgeGetir"></div>

                                    <div style="text-align: center">
                                        <label style="font-style: italic ; font-weight:bold ; font-size:30px ;background-color:red;color:white" id="InternCaseId"></label>
                                    </div>
                                    <hr />
                                    <h3>STAJ DURUM BİLGİSİ SEÇİNİZ</h3>
                                    <select class="form-control  form-control-lg" onchange="InternBookFileTake()" name="internCaseId" id="internCaseId">
                                        <option>Staj Durum Bilgisi</option>
                                        @foreach (var item in ViewBag.list)
                                        {
                                            <option style="font-size:25px" value="@item.InternCaseId">@item.Case</option>
                                        }
                                    </select>
                                    <hr />
                                    <button id="delete" type='submit' class="btn px-15 btn-success" style="width:100%">Onayla</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

