@model YazGelProje.Models.Teacher
@{
    Layout = "~/Views/Shared/SuperAdminSideBar.cshtml";
}

<form action="/SuperAdmin/SetAuthority" method="post">

    <h3 style="font-weight: bold; font-style: italic ;text-align:center ;background-color:red ;color:white">@ViewBag.Mesaj</h3>

    <h3 style="font-weight: bold; font-style: italic ;text-align:center ;color:green">@ViewBag.Mesaj1</h3>

    <div style="border: 2px solid #20C997; padding: 8px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; width:100%; margin-left:0px">

        @if (Model != null)
        {
            @Html.EditorFor(m => m.TeacherId, new { htmlAttributes = new { @type = "hidden", @class = "form-control", @Name = "id" } })

            <p style="text-align: center"><a style="font-weight: bold; text-align: center;color:black">Öğretmen Adı:</a> @Model.Name</p>

            <p style="text-align: center"><a style="font-weight: bold; text-align: center; color: black ">Öğretmen Soyadı:</a> @Model.SurName</p>

            <p style="text-align: center"><a style="font-weight: bold; text-align: center; color: black ">Öğretmen E-Posta:</a> @Model.Email</p>


            <p style="font-weight: bold; text-align: center; color: black ">Yetkilendirme:</p>
            <div class="nav-controller-content select-size-content tab-content">
                <div class="tab-pane fade show active" id="large" role="tabpanel" aria-labelledby="size-large">
                    <div class="select-size-content__single">
                        <select class="form-control  form-control-lg text-center" name="data" id="data" required="">
                            <option style="">Seçiniz</option>
                            <option style="">Komisyon</option>
                            <option style="">Öğretmen</option>
                        </select>
                    </div>
                </div>
            </div>
        }
        <br /><br />
        <button type="submit" class="btn px-15 btn-success"  style="width:100%" >Onayla</button>
    </div>
</form>

<br />
<script src="~/assets/vendor_assets/js/jquery/jquery-3.5.1.min.js"></script>